# Place in etc/systemd/system/
[Unit]
Description=Gunicorn instance to server caserver Flask app
After=network.target

[service]
User=cagateway
Group=www-data
WorkingDirectory=/home/cagateway/CaGateway/
Environment="PATH=/home/cagateway/CaGateway/.venv/bin:/usr/bin"
ExecStart=/home/cagateway/CaGateway/.venv/bin/gunicorn --workers 6 --bind unix:caserver.sock -m 007 wsgi:app

[Install]
WantedBy=multi-user.target
