# Place in etc/systemd/system/
[Unit]
Description=Gunicorn instance to server caserver Flask app
After=network.target

[service]
User=caserver
Group=www-data
WorkingDirectory=/home/caserver/AttestationCA/
Environment="PATH=/home/caserver/AttestationCA/.venv/bin:/usr/bin"
ExecStart=-/home/caserver/AttestationCA/.venv/bin/gunicorn --workers 1 --bind unix:caserver.sock -m 007 wsgi:app

[Install]
WantedBy=multi-user.target
